<div *ngIf="role === 'admin'">
  <app-admin-menu></app-admin-menu>
</div>
<div *ngIf="role === 'faculty'">
  <app-user-menu></app-user-menu>
</div>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Faculty Name</th>
        <th scope="col">Subject Name</th>
        <th scope="col">Date Time</th>
        <th scope="col">Count</th>
        <th scope="col">Student Names</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of showAllAttendance">
        <td>{{data.id}}</td>
        <td>{{data.username}}</td>
        <td>{{data.subjectName}}</td>
        <td>{{data.date}} : {{data.time}}</td>
        <td>{{data.numberOfStudents}}</td>
        <td>{{data.studentNames}}</td>

      </tr>
    </tbody>
  </table>
</div>
